body{
    overflow-x: hidden;
    overflow-y: auto;
    font-family:'Poppins';
    background: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.contact-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.contact-left-title h2{
    font-weight: 600;
    color: white;
    font-size: 40px;
    margin-top: 5px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #18453b;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: 50px;
    font-family: 'Poppins';

}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    font-family: 'Poppins';


}

.contact-inputs:focus{
    border: 2px solid #18453b;


}

.contact-inputs::placeholder{
    color: lightgrey;


}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #18453b;
    font-family: 'Poppins';
}

.contact-left button:hover{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    font-weight: 700;
    border-radius: 20px;
    background: #1e5a4a;
    transform: scale(1.1);
    font-family: 'Poppins';
}

@media (max-width: 800px) {
    .contact-inputs {
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}

