body{
    overflow-x: hidden;
    overflow-y: auto;
    font-family:'Poppins';
    background: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.contact-container{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.contact-left-title h2{
    font-weight: 600;
    color: white;
    font-size: 2.5rem;
    margin-top: 0.3125rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}
.contact-left-title hr{
    border: none;
    width: 7.5rem;
    height: 0.3125rem;
    background-color: #18453b;
    border-radius: 0.625rem;
    margin-bottom: 1.25rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.contact-inputs{
    width: 25rem;
    height: 3.125rem;
    border: none;
    outline: none;
    padding-left: 1.5625rem;
    font-weight: 500;
    color: black;
    border-radius: 3.125rem;
    font-family: 'Poppins';

}

.contact-left textarea{
    height: 8.75rem;
    padding-top: 0.9375rem;
    border-radius: 1.25rem;
    font-family: 'Poppins';


}

.contact-inputs:focus{
    border: 0.125rem solid #18453b;


}

.contact-inputs::placeholder{
    color: lightgrey;


}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 0.9375rem 1.875rem;
    font-size: 1rem;
    color: white;
    gap: 0.625rem;
    border: none;
    border-radius: 3.125rem;
    background: #18453b;
    font-family: 'Poppins';
}

.contact-left button:hover{
    display: flex;
    align-items: center;
    padding: 0.9375rem 1.875rem;
    font-size: 1rem;
    color: white;
    gap: 0.625rem;
    border: none;
    font-weight: 700;
    border-radius: 1.25rem;
    background: #1e5a4a;
    transform: scale(1.1);
    font-family: 'Poppins';
}

@media (max-width: 50rem) {
    .contact-inputs {
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}
