body{
    background-color: black;
    margin: 0;
}
#meet{
    color:white;
    font-size: 4.6875rem;
    text-align: center;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -6.25rem;
    opacity: 0; /*creates animation when scrolling*/
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
}
#team{
    color: white;
    font-family: 'Poppins';
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 0.625rem;
    margin-top: 12.5rem;
}
.underline{
    width: 56.25rem;
    height: 0.3125rem;
    background-color: #18453b;
    border-radius: 0.9375rem;
    margin-bottom: 12.5rem;
    opacity: 0;
}

.container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 6.25rem;
    margin-bottom: 3.125rem;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    border-radius: 1.875rem;
    width: 18.75rem;
    height: 37.5rem;
    background-color:#18453b;
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
}

#pfp{
    display: block;
    width: 12.5rem;
    height: 12.5rem;
    margin: 3.125rem;
    border-radius: 1.5625rem;
}
#position{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.3125rem;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 10px;
}
#name{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.625rem;
    font-size: 1.5625rem;
    font-family: 'Poppins';
    font-weight: 600;
}
#text{
    color:white;
    display: flex;
    margin-top: 1.875rem;
    font-weight: 600;
    text-align: center;

}

#picture{
    width:6.25rem;
    height:6.25rem;
}

.show{ /*creates animation when scrolling*/
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}
