*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* navigation bar */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    z-index: 999;
}

#logo-link {
    display: flex;
    align-items: center;
}

#homeLogo {
    width: 250px; 
    height: auto;
}

.hamburger {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li {
    padding: 0 20px;
    position: relative;
    text-align: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s;
    display: inline-block;
    width: 100%;
}

.nav-links a:hover {
    color: #18453b;
}

.dropdown {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: black;
    text-align: center;
    width: 150px; 
    padding: 5px 0;
    border-radius: 5px;
}


.nav-links li:hover .dropdown {
    display: block;
}


.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown ul li {
    width: 100%;
    padding: 8px 0; 
    text-align: center;
}

.dropdown ul li a {
    display: block;
    color: white;
    font-size: 20px; 
    text-decoration: none;
    padding: 8px 0;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.nav-links li.contact-button a {
    background-color: black;
    border-radius: 275px;
    padding: 0.5rem;
    position: relative;
}

.nav-links li.contact-button a::after,
.nav-links li.contact-button a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), transparent, #18453b);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 3px;
    border-radius: 275px;
    animation: 3s spin linear infinite;
    z-index: -1;
}

.nav-links li.contact-button a::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@media (max-width: 900px) {
    #homeLogo {
        width: 220px;
    }

    .hamburger {
        display: block;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: black;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    .nav-links li:nth-child(7){
        padding: 5px 0;
    }

    .nav-links a {
        font-size: 22px;
    }

    .nav-links li.about-us {
        display: none;
    }

    .nav-links li.mobile-only {
        display: block;
    }
}

@media (min-width: 831px) {
    .nav-links li.mobile-only {
        display: none;
    }
}

/* star animation */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  z-index: -11;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index: -10;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:-9;
  animation:move-twink-back 600s linear infinite;
}

/* star animation */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  z-index: -11;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index: -10;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:-9;
  animation:move-twink-back 600s linear infinite;
}

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    padding-bottom: 5rem;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 35rem;
    border-top: 3px solid white;
}

.logo-footer{
    margin-top: 2rem;
    margin-left: 1rem;
}

.credit {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.credit a {
    color: white;
    font-family: 'Poppins';
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.credit a:hover {
    color: #18453b;
}

#logo-full{
    margin-top: 2rem;
    width: 10rem;
    height: auto;
    border-radius: 20px;

}

.social-media{
    display:flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 500px;
    justify-content: space-evenly;
    padding-right: 15px;
}

#insta-logo{
    padding-top: 7px;
    width: 50px;
    height: auto;
}

#email-logo{
    width: 70px;
    height: auto;
}

#youtube-logo{
    width: 65px;
    height: auto;
}

/* buttons on bottom of page */
.circleContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 4rem;
}

.circle-text {
    display: inline-block; 
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid #18453b;
    letter-spacing: 1px;
    position: relative;
    transition: all .35s;
    text-align: center;
    white-space: nowrap; 
    border-radius: 10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text span {
    position: relative;
    z-index: 2;
}

.circle-text:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #18453b;
    transition: all .35s;
}

.circle-text:hover {
    color: #fff;
}

.circle-text:hover:after {
    width: 100%;
}

/* index.html */

.slider{
    width: 80%;
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;

}
.slide-track{
    display: flex;
    width: calc(250px * 12);
    animation: scroll 40s linear infinite;
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;

}

img{
    width: 100%;
}

.slider::before,
.slider::after {
     content: '';
     height: 100%;
     position: absolute;
     width: 15%;
     z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;

}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 6));
    }
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    margin-top: 16rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 12rem;
}
h1{
    color:white;
    font-size: 4.5rem;
}

.container-video{
    display: flex;
    width: 70rem;
    height: 45rem;
    background-color: #18453b;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    flex-direction: column;
    max-width: 90%;
    height: auto;
    padding: 2rem;
}

.video-homepage{
    position: relative;
    width: 90%;
    padding-bottom: 56.25%; 
    height: 0;
}

.video-homepage iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-video:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#video-homepage-text{
    font-family: 'Poppins';
    color: white;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-right: auto;
}

.container-goals{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 8rem;
    gap: 5rem;
    width: 70rem;
    height: 20rem;
    width: 90%; 
    height: auto;
}

.container-goals .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    width: 20rem;
    height: 30rem;
    background-color: #18453b;
    transition: transform 0.3s ease-in-out;
}

.container-goals .box h3{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: white;
}

.container-goals .box p{
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: 'Poppins';
    color: white;
}

#competition{
    width: 150px;
    height: 150px;
}

#resources{
    width: 150px;
    height: 150px;
}

#handshake {
    width: 200px;
    height: auto;
}

.container-goals .box:hover{
    transform: scale(1.05);
    
}

.container-homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16rem;
}

.container-homepage .rocket{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 18rem;
    width: 70rem;
    border-radius: 1.5625rem;
    background-color: #18453b;
    transition: transform 0.3s ease-in-out;
}

.container-homepage .rocket:hover{
    transform: scale(1.05);
}

.container-homepage .rocket h3{
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins';
    color: white;
}

#cad{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50rem;
    height: auto

}

#cad:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05)
}

/* our mission */
.mission-title{
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    margin-bottom: 10rem;
}
#mis{
    margin-top: 4rem;
    font-family: 'Poppins';
    font-size: 4.68rem;
    color: white;
    text-align: center;
}

.middle{
    display:flex;
    justify-content: center;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}
.image{
    display: flex;
    max-width: 90%;
    width: 40rem;
    padding: 1.5rem;
    border-radius: 35px;
}

.infoMission{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 20rem;
    background-color: #18453b;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.infoMission:hover{
    transform: scale(1.05);
}
  
#text-mission{
    display: flex;
    justify-content: center;
    color:white;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Poppins';
    margin-left: 3rem;
    margin-right: 3rem;
}

.container-mission{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 8rem;
    gap: 5rem;
    width: 70rem;
    height: 20rem;
    width: 90%; 
    height: auto;
}

.container-mission .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 20rem;
    height: 25rem;
    background-color: #18453b;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
}

.container-mission .box .top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#competition{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

#resources{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

#handshake {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.container-mission .box h3{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

.container-mission .box .mission-button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: 'Poppins';
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: black;
    color: #18453b;
}

.container-mission .box .mission-button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.container-mission .box .mission-button:hover span {
    color: #1e5a4a;
}

.container-mission .box .mission-button::before,
.container-mission .box .mission-button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container-mission .box .mission-button::before {
    content: "";
    background: white;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.container-mission .box .mission-button:hover::before {
    transform: translate3d(100%, 0, 0);
}

   
.container-mission .box:hover{
    transform: scale(1.05);
    
}

#meet{
    color:white;
    font-size: 4.6875rem;
    text-align: center;
}

#team{
    color: white;
    font-family: 'Poppins';
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 0.625rem;
    margin-top: 12.5rem;
}
.underline{
    max-width: 90%;
    width: 56.25rem;
    height: 0.3125rem;
    background-color: #18453b;
    border-radius: 0.9375rem;
    margin-bottom: 12.5rem;
    opacity: 0;
}

.container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 6.25rem;
    margin-bottom: 3.125rem;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    border-radius: 1.875rem;
    width: 18.75rem;
    height: 37.5rem;
    background-color:#18453b;
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
}

#pfp{
    display: block;
    width: 12.5rem;
    height: 12.5rem;
    margin: 3.125rem;
    border-radius: 1.5625rem;
}

#position{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.3125rem;
    font-family: 'Poppins';
    font-weight: 600;
}

#name{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.625rem;
    font-size: 1.5625rem;
    font-family: 'Poppins';
    font-weight: 600;
}

#text{
    color:white;
    display: flex;
    margin-top: 1.875rem;
    font-weight: 600;
    text-align: center;
}

#picture{
    width:6.25rem;
    height:6.25rem;
}

.show{ /*creates animation when scrolling*/
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}

/* subteams */

.container-subteams {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 8rem;
}

.box-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.box-subteam {
    width: 50rem;
    height: 20rem;
    padding: 2rem;
    background-color: #18453b;
    border-radius: 10px;
    z-index: 1;
    font-family: 'Poppins';
}

.box-wrapper img {
    height: auto;
    z-index: 0;
}

#payload-image{
    width: 25rem;
    transform: rotate(333deg);
}

#manu-image{
    width: 25rem;
    transform: rotate(210deg);
}

#ebay-image{
    width: 25rem;
    transform: rotate(330deg);
}

#sparty-image{
    width: 15rem;
    border-radius: 10px;
}

.box-wrapper:nth-child(odd) {
    flex-direction: row;
}

.box-wrapper:nth-child(odd) .box {
    text-align: left;
    margin-left: 0; 
}

.box-wrapper:nth-child(odd) img {
    order: 1; 
}

.box-wrapper:nth-child(even) {
    flex-direction: row-reverse;
}

.box-wrapper:nth-child(even) .box {
    text-align: right;
    margin-right: 0; 
}

h1 {
    color: white;
    font-size: 4.6875rem;
    text-align: left;
}

#left {
    color: white;
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
}

#right {
    color: white;
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
}

#textSubteams{
    margin-top: 0.5rem;
    font-weight: 600;
    color: white;
    font-size: 1rem;
    text-align: left;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
}

.hidden {
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s;
}

.show { 
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}

#logo{
    margin-right: auto;
    margin-top: 35px;
    width: 250px;
    height: auto;
}

/* leadership */

#meet{
    color:white;
    font-size: 4.6875rem;
    text-align: center;
}

.titleLeadership{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -20rem;
    opacity: 0; /*creates animation when scrolling*/
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
    margin-bottom: -5rem;
    
}

#team{
    color: white;
    font-family: 'Poppins';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.625rem;
    margin-top: 12.5rem;
}

.underline{
    width: 56.25rem;
    height: 0.3125rem;
    background-color: #18453b;
    border-radius: 0.9375rem;
    margin-bottom: 12.5rem;
    opacity: 0;
}

.container-leadership{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 6.25rem;
    margin-bottom: 3.125rem;
    margin-top: 10rem;
    align-items: center;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    border-radius: 1.875rem;
    width: 20rem;
    height: 45rem;
    background-color:#18453b;
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
}

#pfp{
    display: block;
    width: 12.5rem;
    height: 12.5rem;
    margin: 3.125rem;
    border-radius: 1.5625rem;
}

#position{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.3125rem;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
}

#name{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.625rem;
    font-size: 1.5625rem;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
}

#textLeadership{
    color:white;
    display: flex;
    margin-top: 1.875rem;
    font-weight: 600;
    text-align: left;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 14px;
}

#picture{
    width:6.25rem;
    height:6.25rem;
}

.show{ /*creates animation when scrolling*/
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}

/* @media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
} */

/* contact */

.contact-container{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 6rem;
    box-sizing: border-box;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-left-title h2{
    font-weight: 600;
    color: white;
    font-size: 2.5rem;
    margin-top: 0.3125rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.contact-left-title hr{
    border: none;
    width: 7.5rem;
    height: 0.3125rem;
    background-color: #18453b;
    border-radius: 0.625rem;
    margin-bottom: 1.25rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.contact-inputs{
    width: 25rem;
    height: 3.125rem;
    border: none;
    outline: none;
    padding-left: 1.5625rem;
    font-weight: 500;
    color: black;
    border-radius: 3.125rem;
    font-family: 'Poppins';
}

.contact-left textarea{
    height: 8.75rem;
    padding-top: 0.9375rem;
    border-radius: 1.25rem;
    font-family: 'Poppins';
}

.contact-inputs:focus{
    border: 0.125rem solid #18453b;
}

.contact-inputs::placeholder{
    color: lightgrey;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 0.9375rem 1.875rem;
    font-size: 1rem;
    color: white;
    gap: 0.625rem;
    border: none;
    border-radius: 3.125rem;
    background: #18453b;
    font-family: 'Poppins';
    font-weight: 700;
}

.contact-left button:hover{
    display: flex;
    align-items: center;
    padding: 0.9375rem 1.875rem;
    font-size: 1rem;
    color: white;
    gap: 0.625rem;
    border: none;
    font-weight: 700;
    border-radius: 1.25rem;
    background: #1e5a4a;
    transform: scale(1.1);
    font-family: 'Poppins';
}

.contact-inputs,
.contact-left textarea,
.contact-left button {
    font-size: 16px; /* Prevents zoom on mobile */
    font-family: 'Poppins';
}


@media (max-width: 50rem) {
    .contact-inputs {
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}

/* thanks */
.containerThanks{
    display: flex;
    margin-top: 15rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#thanks{
    margin-bottom: 15px;
    font-size: 40px;
    font-family: 'Poppins';
    text-align: center;
}

#thanksMessage{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Poppins';
    text-align: center;
}

#thanks-image{
    width: 200px;
    height: 200px;
    margin-bottom: 35px;
}

.back-button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #18453b;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #1e5a4a;
    transform: scale(1.1);
    font-weight: 700;
}

/* gallery */
body{
    background-color: black;
}
.layout-container{
    padding-top: 16rem;
    width: min(1000px, 100%);
    margin: 0 auto;
    columns: 3 300px;
    column-gap: 1em;
}
.layout-container img{
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

/* projects */

.container-project{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-rocket{
    display: flex;
    justify-content: center;
}

#rocket-name{
    margin-top: 16rem;
    margin-bottom: 8rem;
    color:white;
    font-size: 4rem;
    font-family: 'Poppins';
}

.container-info{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60rem;
    margin-right: 10rem;
}

#rocket{
    width: auto;
    height: 40rem;
    margin-top: 2rem;
}

.container-image{
    display:flex;
    justify-content: center;
    width: 25rem;
    height: 50rem;
}

.container-stats{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 50rem;
    margin-top: 2rem;
    gap: 0;
}

.container-stats p{
    color: white;
    border-bottom: 4px solid #18453b;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 2rem;
    font-family: 'Poppins';
}

.stat-row {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    position: relative;
}

.stat-row p {
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.stat-row p:first-child {
    flex-grow: 1; 
}

.stat-row p:last-child {
    text-align: right;
    min-width: 10rem; 
    flex-shrink: 0;
}

.container-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60rem;
    height: 40rem;
    border-radius: 25px;
    padding: 1.5rem;
    color: white;
}


.button-bar {
    width: 100%;
    background-color: black; 
    padding: 10px; 
    border-radius: 10px; 
    display: flex;
    justify-content: center; 
    position: relative;
}

.button-bar::after, .button-bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent, #18453b);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 6s spin linear infinite;
}

.button-bar::before{
    filter: blur(1.5rem);
    opacity: 0.75;
}

.team-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 2rem; 
}

.team-buttons li {
    flex: 1;
    list-style: none; 
    padding: 15px 30px; 
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.team-buttons li:hover {
    background-color: #18453b;
}

.team-buttons li.active {
    background-color: #18453b;
    color: white;
}

.team-buttons li:last-child {
    border-right: none;
}

.content-box {
    width: 100%;
    height: 22.5rem;
    background-color: black;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 1rem;
    margin-top: 5rem; 
    border: 2px solid #18453b;
}

#content-image{
    width: 250px;
    height: auto;
    margin-bottom: 10px; 
    border-radius: 8px;
    display: block;
    margin-right: 1rem;
}

.made-by {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-family: 'Poppins';
    font-size: 0.8rem;
    color: #ffffff80;
    text-decoration: none;
    transition: color 0.3s ease;
}

.made-by:hover {
    color: #ffffff;
}

/* For devices with a maximum width of 480px */
@media (max-width: 480px) {

    .title{
        margin-top: 12rem;
        margin-bottom: 8rem;
    }
    /* index */
    .title h1 {
        font-size: 3rem;
        text-align: center;
    }

    #video-homepage-text {
        font-size: 1.5rem;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
    }

    .container-goals .box h3{
        font-size: 1.5rem;
    }

    .container-homepage .rocket{
        width: 22.5rem;
        height: 20rem;
        padding: 0;
    }

    .container-homepage .rocket h3{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-top: 2rem;
    }

    #cad {
        margin-top: 5rem;
        width: 20rem;
    }

    .circle{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #bottom{
        font-size: 1rem;
        padding: 0;
        margin: 0;
        width: 15rem;
        height: 2rem;
        text-align: center;
        padding-bottom: 3rem;
    }

    /* mission */
    .infoMission{
        width: 20rem;
        height: 30rem;
    }
    #text-mission{
        font-size: 1rem;
    }

    /* subteams */
    #subteams{
        margin-top: 1rem;
        font-size: 3rem;
    }
    .box-subteam{
        max-width: 90%;
        margin: 0 auto;
        height: 37rem;   
    }

    .box-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        max-width: none;
        flex-wrap: wrap;
    }

    .box-wrapper img {
        margin-top: 1rem;
    }

    #left, #right{
        font-size: 2rem;
    }

    #payload-image{
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: -3rem;
        max-width: 100%;
    }

    #manu-image{
        margin: 0 auto;
        margin-top: 8rem;
        max-width: 100%;
    }

    #ebay-image{
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: -3rem;
        max-width: 100%;
    }

    #sparty-image{
        margin: 0 auto;
        margin-top: 4rem;
        max-width: 100%;
    }

    #textSubteams{
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    /* projects */
    .container-info{
        width: 20rem;
        margin-left: 8rem;
    }
    .stat-row p{
        font-size: 1rem;
    }

    .container-image #rocket{
        height: 35rem;
    }

    .team-buttons li {
        font-size: 0.8rem;
        padding: 5px;
    }
    
    .container-teams{
        margin-top: 0;
        width: 25rem;
        height: 20rem;
    }

    .content-box p{
        font-size: 0.75rem;
    }
    
    #content-image{
        width: 8rem;
        margin-right: 1rem;
    }

    /* Footer responsive styles */
    .footer {
        height: auto;
        min-height: 40rem;
        padding: 2rem 1rem 4rem 1rem;
        margin-top: 8rem;
    }

    .logo-footer {
        margin-top: 1rem;
        margin-right: 0.5rem;
    }

    #logo-full {
        width: 8rem;

    }

    #email-logo {
        width: 50px;
    }

    #insta-logo {
        width: 35px;
    }

    #youtube-logo {
        width: 45px;
    }

    .circleContainer {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .circle-text {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }

    .credit {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .footer {
        height: auto;
        min-height: 35rem;
        padding: 2rem 1rem 4rem 1rem;
    }

    .social-media {
        padding-right: 0;
    }

    .logo-footer {
        margin-left: 1rem;
    }

    .circleContainer {
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .circle-text {
        font-size: 1.3rem;
    }

    .credit {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    /* index */
    .title h1 {
        text-align: center;
        font-size: 3rem;
        margin-top: 4rem;
    }

    .container-homepage .rocket{
        width: 30rem;

    }
    #project-text{
        margin-top: 2.5rem;
        margin-bottom: 8rem;
    }
    #cad {
        width: 25rem;
        margin-top: 4rem;
    }

    #cad:hover{
        transform: (scale(1.1));
    }
    .circle{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #bottom{
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
        width: 20rem;
        height: 3.5rem;
        text-align: center;
    }

    /* mission */
    #mis {
        font-size: 4rem;
    }
    #text-mission{
        font-size: 1.5rem;

    }
    .titleLeadership{
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .underline{
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    /* subteams */
    .box-subteam{
        max-width: 90%;
        margin: 0 auto;
        height: 27rem;
    }

    .box-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: none;
        flex-wrap: wrap; /* Allows wrapping */
    }
    .box-wrapper img {
        margin-top: 1rem;
    }
    #left, #right{
        font-size: 2rem;
    }

    #payload-image{
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: -3rem;
        max-width: 90%;
    }

    #manu-image{
        margin: 0 auto;
        margin-top: 8rem;
        max-width: 100%;
    }

    #ebay-image{
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: -3rem;
        max-width: 90%;
    }

    #sparty-image{
        margin: 0 auto;
        margin-top: 4rem;
        max-width: 100%;
    }

    #textSubteams{
        font-size: 1rem;
    }
    /* projects */
    .container-info{
        width: 30rem;
        margin-right: 5rem;
    }
    .container-teams{
        width: 32rem;
        height: 20rem;
    }

    .team-buttons li {
        font-size: 1rem;
        padding: 12px;
    }
    
    
    .content-box p{
        font-size: 0.75rem;
    }
    
    #content-image{
        width: 8rem;
        margin-right: 1rem;
    }
    /* mission */
    .infoMission{
        width: 28rem;
        height: 28rem;
        padding: 10px;
    }
    #text-mission{
        font-size: 1.25rem;
    }

    /* Footer responsive styles */
    .footer {
        height: auto;
        padding: 2rem 1rem;
    }

    .social-media {
        padding-right: 1.5rem;
    }

    .circleContainer {
        gap: 1rem;
    }

    .circle-text {
        font-size: 1.3rem;
    }

    .credit {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

/* For devices with a mcaximum width of 767px */
@media (min-width: 601px) and (max-width: 830px) {
    /* index */
    .title h1 {
        font-size: 4rem;
        margin-top: 2rem;
        text-align: center;
    }

    #sponsors-dafs{
        width: 6rem;
    }

    #project-text{
        margin-top: 2.5rem;
        font-size: 3rem;
    }

    #cad{
        width: 35rem;
    }
    .circle{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    #bottom{
        font-size: 1.5rem;
        width: 20rem;
        height: 3rem;
        gap: 0;
        margin: 0;
        padding: 0;
    }
    .titleLeadership{
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .underline{
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    .container-homepage .rocket{
        width: 35rem;
    }

    #cad{
        width: 30rem;
    }

    /* subteams */

    .box-subteam{
        max-width: 90%;
        height: 20rem;
        margin: 0 auto;
        
    }

    .box-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: none;
        flex-wrap: wrap; /* Allows wrapping */
    }
    .box-wrapper img {
        margin-top: 1rem;
    }
    #left, #right{
        font-size: 2rem;
    }

    #payload-image{
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: -3rem;
        max-width: 90%;
    }

    #manu-image{
        margin: 0 auto;
        margin-top: 8rem;
        max-width: 100%;
    }

    #ebay-image{
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: -3rem;
        max-width: 90%;
    }

    #sparty-image{
        margin: 0 auto;
        margin-top: 4rem;
        max-width: 100%;
    }

    #textSubteams{
        font-size: 1rem;
    }
    /* project */
    .container-info{
        width: 35rem;
        margin-left: 4rem;
    }
    .container-teams{
        width: 38rem;
        height: 20rem;
    }

    .team-buttons li {
        font-size: 1.25rem;
        padding: 12px;
    }
    
    
    .content-box p{
        font-size: 1rem;
    }
    
    #content-image{
        width: 10rem;
        margin-right: 1rem;
    }
    /* mission */
    .infoMission{
        width: 32.5rem;
        height: 25rem;
        padding: 10px;
    }
    #text-mission{
        font-size: 1.25rem;
    }

    /* Footer responsive styles */
    .footer {
        height: auto;
        padding: 2rem 1rem;
    }

    .social-media {
        padding-right: 1.5rem;
    }

    .circleContainer {
        gap: 1rem;
    }

    .circle-text {
        font-size: 1.3rem;
    }

    .credit {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

/* For devices with a minimum width of 768px and maximum width of 1200px */
@media (min-width: 831px) and (max-width: 1200px) {
    /* index */
    .title h1 {
        text-align: center;
        font-size: 4rem;
    }

    #video-homepage-text{
        font-size: 2rem;
        padding-right: 17rem;
    }

    .container-goals{
        margin-top: 8rem;
        margin-bottom: 2rem;
    }

    .slider{
        margin-top: 0;
    }

    .container-homepage .rocket{
        width: 45rem;
        height: 15rem;
    }

    #cad{
        width: 35rem;
    }


    #bottom{
        font-size: 1.5rem;
        width: 20rem;
        height: 3rem;
        gap: 0;
        margin: 0;
        padding: 0;
    }
    .titleLeadership{
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .underline{
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    /* subteams */
    .box-subteam{
       
        height: 20rem;
        margin: 0 auto;
    }

    .box-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        max-width: none;
        flex-wrap: wrap; /* Allows wrapping */
    }
    .box-wrapper img {
        margin-top: 1rem;
    }
    #left, #right{
        font-size: 2rem;
    }

    #payload-image{
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: -3rem;
        max-width: 90%;
    }

    #manu-image{
        margin: 0 auto;
        margin-top: 8rem;
        max-width: 100%;
    }

    #ebay-image{
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: -3rem;
        max-width: 90%;
    }

    #sparty-image{
        margin: 0 auto;
        margin-top: 4rem;
        max-width: 100%;
    }

    #textSubteams{
        font-size: 1rem;
    }
    /* project */
    .container-info{
        width: 55rem;
    }

    .container-teams{
        width: 50rem;
    }

    
    
    
    .content-box p{
        font-size: 1.25rem;
    }
    
    #content-image{
        margin-right: 1rem;
    }
    /* mission */
    .infoMission{
        width: 45rem;
        height: 25rem;
        padding: 10px;
    }
    #text-mission{
        font-size: 1.5rem;
    }

    /* Footer responsive styles */
    .footer {
        height: auto;
        padding: 2rem 1rem;
    }
    
    .circleContainer {
        gap: 1rem;
    }

    .circle-text {
        font-size: 1.3rem;
    }

    .credit {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}



