*{
    padding: 0;
    margin: 0;
}

/* navigation bar */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
    box-sizing: border-box; 
    border-bottom: 1px solid;
    border-color: white;
    z-index: 999;
}


#logo-link {
    display: flex;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center; 
    justify-content: flex-end; 
    flex-grow: 1; 
}

.nav ul li {
    display: flex;
    padding: 0 20px; 
    position: relative;
}

.nav ul li a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s;
}

.nav ul li a:hover {
    color: #18453b;
}

.dropdown {
    display: none;
}

.nav ul li:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}

.dropdown ul {
    display: block;
    margin: 10px;
}

.dropdown ul li {
    width: 150px;
    padding: 10px;
}

#homeLogo {
    width: 275px;
    height: auto;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.nav ul li:nth-child(4) a {
    background-color: black;
    border-radius: 275px;
    padding: 0.5rem;
    position: relative;
}

.nav ul li:nth-child(4) a::after, .nav ul li:nth-child(4) a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), transparent, #18453b);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 3px;
    border-radius: 275px;
    animation: 3s spin linear infinite;
    z-index: -1; 
}

.nav ul li:nth-child(4) a::before{
    filter: blur(1.5rem);
    opacity: 0.5;

}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

/* buttons on bottom of page */
.circleContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    gap: 25px;
}

.circle{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
  
#bottom{
    border-radius: 10px;
    padding: 10px;
    display: block;
    width: 250px;
    height: 50px;
    line-height: 45px;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid #18453b;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

#bottom span{
    position: relative;
    z-index: 2;
}

#bottom:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #18453b;
    transition: all .35s;
}

#bottom:hover{
    color: #fff;
}

#bottom:hover:after{
    width: 100%;
}

/* star animation */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  z-index: -11;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index: -10;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:-9;
  animation:move-twink-back 600s linear infinite;
}

/* buttons on bottom of page */
.circleContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    gap: 25px;
}

.circle{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
  
#bottom{
    border-radius: 10px;
    padding: 10px;
    display: block;
    width: 250px;
    height: 50px;
    line-height: 45px;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid #18453b;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

#bottom span{
    position: relative;
    z-index: 2;
}

#bottom:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #18453b;
    transition: all .35s;
}

#bottom:hover{
    color: #fff;
}

#bottom:hover:after{
    width: 100%;
}

/* star animation */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  z-index: -11;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index: -10;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:-9;
  animation:move-twink-back 600s linear infinite;
}

/* index.html */

.title{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
}
h1{
    color:white;
    font-size: 4.5rem;
    margin-top: 16rem;
}

.video-homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    margin: 15rem auto 0 auto; 
    width: 100%; 
    max-width: 78.125rem;
    height: auto; 
    box-shadow: 0px 0px 12.5rem 3.125rem #18453b;
    padding: 1.25rem;
}

#video-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:white;
    font-size: 4.5rem;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 8rem;
    padding: 1.5rem;
}

.container-homepage{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 8rem;
}

.container-homepage .sponsors, .container-homepage .project {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    height: 20rem;
    width: 65rem;
    border-radius: 1.5625rem;
    background: linear-gradient(to bottom, #18453b 35%, white 35%);
    box-shadow: 0px 0px 12.5rem 3.125rem #18453b;
    padding: 2rem;
    margin-bottom: 8rem;
}
#sponsors-text, #project-text{
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 600;
}

.images-homepage {
    display: flex; 
    justify-content: space-evenly;
    gap: 4rem;
    margin-top: 2.5rem;
}

#sponsors-images {
    width: 8rem; 
    height: auto;
    object-fit: contain;
}

#sponsors-dafs{
    transform: rotate(90deg);
    width: 100px;
    height: auto;
    object-fit: contain;
    margin-left: 3rem;
}

.project-button{
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
}

#cad{
    width: 50rem;
    height: auto
}

#cad:hover{
    transform: scale(1.1)
}

@media (max-width: 600px){
    
}

/* our mission */
.mission{
    display: flex;
    justify-content: center;
    margin-top: 11rem;
}
#mis{
    margin-top: 75px;
    font-family: 'Poppins';
    font-size: 4.6875rem;
    color: white;
}

.middle{
    display:flex;
    justify-content: center;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.image{
    width:43.75rem;
    padding: 1.5rem;
}

.infoMission{
    display:flex;
    justify-content: center;
}
#text{
    color:white;
    text-align: center;
    padding-right: 12.5rem;
    padding-left: 12.5rem;
    font-size: 2.1875rem;
    font-family: 'Poppins';
}

#meet{
    color:white;
    font-size: 4.6875rem;
    text-align: center;
}

#team{
    color: white;
    font-family: 'Poppins';
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 0.625rem;
    margin-top: 12.5rem;
}
.underline{
    width: 56.25rem;
    height: 0.3125rem;
    background-color: #18453b;
    border-radius: 0.9375rem;
    margin-bottom: 12.5rem;
    opacity: 0;
}

.container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 6.25rem;
    margin-bottom: 3.125rem;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    border-radius: 1.875rem;
    width: 18.75rem;
    height: 37.5rem;
    background-color:#18453b;
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
}

#pfp{
    display: block;
    width: 12.5rem;
    height: 12.5rem;
    margin: 3.125rem;
    border-radius: 1.5625rem;
}
#position{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.3125rem;
    font-family: 'Poppins';
    font-weight: 600;
}
#name{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.625rem;
    font-size: 1.5625rem;
    font-family: 'Poppins';
    font-weight: 600;
}
#text{
    color:white;
    display: flex;
    margin-top: 1.875rem;
    font-weight: 600;
    text-align: center;

}

#picture{
    width:6.25rem;
    height:6.25rem;
}

.show{ /*creates animation when scrolling*/
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}

/* subteams */
#context2 {
    color: white; 
    font-size: 1.25rem;
    padding-bottom: 18.75rem;
    font-weight: 600;
    text-align: center;
    padding: 50px;
}

.container .subteams{
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Ensures padding doesn't add to width */
}

.box1 {
    margin-right: auto;
    margin-left: 2rem;
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

.box2 {
    margin-left: auto;
    margin-right: 2rem;
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

.box3 {
    margin-right: auto;
    margin-left: 2rem;
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

.box4 {
    margin-left: auto;
    margin-right: 2rem;
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

h1 {
    color: white;
    font-size: 4.6875rem;
    text-align: center;
}

#left {
    padding: 25px;
    color: white;
    text-align: left;
    font-weight: 600;
    padding-left: 4.6875rem;
    font-size: 3.125rem;
}

#right {
    padding: 25px;
    color: white;
    text-align: left;
    font-weight: 600;
    padding-left: 4.6875rem;
    font-size: 3.125rem;
}

#textSubteams{
    color: white;
    padding-left: 4.6875rem;
    padding-right: 4.6875rem;
    font-size: 1.25rem;
}
.title {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
}

.hidden {
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s;
}

.show { 
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}

#logo{
    margin-right: auto;
    margin-top: 35px;
    width: 250px;
    height: auto;
}


/* leadership */
#meet{
    color:white;
    font-size: 4.6875rem;
    text-align: center;
}
.titleLeadership{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -20rem;
    opacity: 0; /*creates animation when scrolling*/
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
}
#team{
    color: white;
    font-family: 'Poppins';
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 0.625rem;
    margin-top: 12.5rem;
}
.underline{
    width: 56.25rem;
    height: 0.3125rem;
    background-color: #18453b;
    border-radius: 0.9375rem;
    margin-bottom: 12.5rem;
    opacity: 0;
}

.container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 6.25rem;
    margin-bottom: 3.125rem;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    border-radius: 1.875rem;
    width: 18.75rem;
    height: 40rem;
    background-color:#18453b;
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
}

#pfp{
    display: block;
    width: 12.5rem;
    height: 12.5rem;
    margin: 3.125rem;
    border-radius: 1.5625rem;
}
#position{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.3125rem;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 10px;
}
#name{
    color:white;
    display: flex;
    text-align: center;
    margin-top: -0.625rem;
    font-size: 1.5625rem;
    font-family: 'Poppins';
    font-weight: 600;
}
#textLeadership{
    color:white;
    display: flex;
    margin-top: 1.875rem;
    font-weight: 600;
    text-align: left;
    padding: 10px;
}

#picture{
    width:6.25rem;
    height:6.25rem;
}

.show{ /*creates animation when scrolling*/
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/* contact */

.contact-container{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.contact-left-title h2{
    font-weight: 600;
    color: white;
    font-size: 2.5rem;
    margin-top: 0.3125rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}
.contact-left-title hr{
    border: none;
    width: 7.5rem;
    height: 0.3125rem;
    background-color: #18453b;
    border-radius: 0.625rem;
    margin-bottom: 1.25rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.contact-inputs{
    width: 25rem;
    height: 3.125rem;
    border: none;
    outline: none;
    padding-left: 1.5625rem;
    font-weight: 500;
    color: black;
    border-radius: 3.125rem;
    font-family: 'Poppins';

}

.contact-left textarea{
    height: 8.75rem;
    padding-top: 0.9375rem;
    border-radius: 1.25rem;
    font-family: 'Poppins';


}

.contact-inputs:focus{
    border: 0.125rem solid #18453b;


}

.contact-inputs::placeholder{
    color: lightgrey;


}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 0.9375rem 1.875rem;
    font-size: 1rem;
    color: white;
    gap: 0.625rem;
    border: none;
    border-radius: 3.125rem;
    background: #18453b;
    font-family: 'Poppins';
}

.contact-left button:hover{
    display: flex;
    align-items: center;
    padding: 0.9375rem 1.875rem;
    font-size: 1rem;
    color: white;
    gap: 0.625rem;
    border: none;
    font-weight: 700;
    border-radius: 1.25rem;
    background: #1e5a4a;
    transform: scale(1.1);
    font-family: 'Poppins';
}

@media (max-width: 50rem) {
    .contact-inputs {
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}

/* thanks */
.containerThanks{
    text-align: center;
    padding: 20px;
}

#thanks{
    margin-bottom: 15px;
    font-size: 40px;
}

#thanksMessage{
    margin-bottom: 25px;
    font-size: 20px;
}

.back-button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #18453b;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #1e5a4a;
    transform: scale(1.1);
    font-weight: 700;
}

/* gallery */
body{
    background-color: black;
}
.layout-container{
    padding-top: 16rem;
    width: min(1000px, 100%);
    margin: 0 auto;
    columns: 3 300px;
    column-gap: 1em;
}
.layout-container img{
    display: block;
    margin-bottom: 1em;
    width: 100%;
}






