body {
    background-color: black;
    padding: 0;
    margin: 0;
}

#context {
    color: white; 
    font-size: 1.25rem;
    padding-bottom: 18.75rem;
    font-weight: 600;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.box1 {
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    margin-right: auto;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

.box2 {
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    margin-left: auto;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

.box3 {
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    margin-right: auto;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

.box4 {
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    margin-left: auto;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

h1 {
    color: white;
    font-size: 4.6875rem;
    text-align: center;
}

#left {
    color: white;
    text-align: left;
    font-weight: 600;
    padding-left: 4.6875rem;
    font-size: 3.125rem;
}

#right {
    color: white;
    text-align: left;
    font-weight: 600;
    padding-left: 4.6875rem;
    font-size: 3.125rem;
}

p {
    color: white;
    padding-left: 4.6875rem;
    padding-right: 4.6875rem;
    font-size: 1.25rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 3.4375rem;
    background-color: #18453b;
}

.pill-left {
    margin-right: auto;
    display: flex;
    width: 3.75rem;
    height: auto;
}

.right-buttons {
    display: flex;
    gap: 0.625rem;
}

.pill-link {
    text-decoration: none;
}

.pillAll {
    background-color: #18453b;
    border: none;
    width: 9.375rem;
    height: 3.25rem;
    border-radius: 0.9375rem;
    font-size: 1.5625rem;
    color: white;
    cursor: pointer;
    font-family: 'Poppins';
}

.pillAll:hover {
    background-color: #1e5a4a;
    transform: scale(1.1);
    font-weight: 600;
    font-family: 'Poppins';
}

.hidden {
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
}

h1 {
    color: white;
    font-size: 4.6875rem;
    margin-top: 12.5rem;
}

.pillAll:hover {
    background-color: #1e5a4a;
    font-weight: 600;
    font-family: 'Poppins';
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 0.625rem; 
}

.dropdown:hover .content {
    display: block;
}

.dropdown button {
    background-color: #18453b;
    border: none;
    width: 9.375rem;
    height: 3.25rem;
    border-radius: 0.9375rem;
    font-size: 1.5625rem;
    color: white;
    cursor: pointer;
    font-family: 'Poppins';
    text-align: center;
    position: relative;
}

.dropdown button:after {
    content: "";
    position: absolute;
    height: 0.1875rem; 
    width: 0; 
    background-color: white; 
    left: 0;
    bottom: 0px; 
    transition: width 0.3s ease; 
}

.dropdown button:hover:after {
    width: 100%; 
}

.dropdown .content {
    display: none; 
    position: absolute;
    background-color: #18453b;
    width: 9.375rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    top: 3.875rem; /* Creates a visible gap */
    left: 0;
    z-index: 1;
}

.dropdown .content a {
    position: relative;
    color: white;
    text-decoration: none; 
    display: block;
    padding: 0.625rem 0.9375rem;
    font-size: 1.125rem;
    font-family: 'Poppins';
    border-radius: 0.3125rem;
}

.dropdown .content a:after {
    content: "";
    position: absolute;
    background-color: white; 
    height: 0.1875rem; 
    width: 0; 
    left: 0;
    bottom: 0px; 
    transition: width 0.3s ease; 
}

.dropdown .content a:hover:after {
    width: 100%; 
}

.dropdown .content a:hover {
    background-color: #1e5a4a;
}

.dropdown:hover button {
    background-color: #1e5a4a;
    transform: scale(1.1);
    font-weight: 600;
}

#underline {
    position: relative; 
    text-decoration: none;
}

#underline:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 0.1875rem; 
    width: 0; 
    left: 0;
    bottom: 0px;
    transition: width 0.3s ease; 
}

#underline:hover:after {
    width: 100%; 
}

.hidden {
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s;
}

.show { /*creates animation when scrolling*/
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}
