
body {
    margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}
h1 {
    text-align: center;
    margin-bottom: 20px; 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0; 
}

.row.reverse {
    flex-direction: row-reverse;
}

.box {
    background-color: black;
    border: 2px solid white;
    height: 200px; 
    width: 45%; 
    margin-right: 10px; 
}

.row.reverse .box {
    margin-right: 0;
    margin-left: 10px; 
}

.text {
    width: 45%; 
    height: 200px; 
    padding: 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
