/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: black;
    padding: 0;
    margin: 0;
}

#context {
    color: white; 
    font-size: 1.25rem;
    padding-bottom: 18.75rem;
    font-weight: 600;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Ensures padding doesn't add to width */
}

.box1 {
    margin-right: auto;
    margin-left: 2rem;
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

.box2 {
    margin-left: auto;
    margin-right: 2rem;
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

.box3 {
    margin-right: auto;
    margin-left: 2rem;
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

.box4 {
    margin-left: auto;
    margin-right: 2rem;
    width: 53.125rem;
    height: 21.875rem;
    background: #18453b;
    border-radius: 1.5625rem;
    padding: 0.0625rem;
    margin-bottom: 7.8125rem;
    box-shadow: 0px 0px 12.5rem 1.5625rem #18453b;
}

h1 {
    color: white;
    font-size: 4.6875rem;
    text-align: center;
}

#left {
    color: white;
    text-align: left;
    font-weight: 600;
    padding-left: 4.6875rem;
    font-size: 3.125rem;
}

#right {
    color: white;
    text-align: left;
    font-weight: 600;
    padding-left: 4.6875rem;
    font-size: 3.125rem;
}

p{
    color: white;
    padding-left: 4.6875rem;
    padding-right: 4.6875rem;
    font-size: 1.25rem;
}
.title {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
}

h1 {
    color: white;
    font-size: 4.6875rem;
    margin-top: 12.5rem;
}

.hidden {
    opacity: 0;
    filter: blur(0.3125rem);
    transform: translateX(-100%);
    transition: all 1s;
}

.show { 
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}

#logo{
    margin-right: auto;
    margin-top: 35px;
    width: 250px;
    height: auto;
}

nav{
    margin: 0;
    padding: 0;
}
nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
nav li {
    margin: 0;
    padding: 0;
    height: 50px;
    position: relative;
}

nav li:not(#logo-link)::after {
    content: '';
    position: absolute;
    background-color: #18453b;
    height: 3px;
    width: 0%; 
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

nav li:not(#logo-link):hover::after {
    margin: 0;
    padding: 0;
    width: 100%; 
}

nav a{
    font-weight: 600;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins';
    font-size: 25px;
}

nav a:hover{
    transform: scale(1.1);
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #18453b;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}

nav li ul.dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
    width: 175px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav li ul.dropdown li {
    width: 100%;
}

nav li ul.dropdown li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
}

/* nav li ul.dropdown li a:hover {

} */

nav li:hover ul.dropdown {
    display: block;
    z-index: 1000;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
